<div class="footer">
  <div class="footer-copyright">

  </div>
  <div class="footer-links">
    <a href="https://github.com/alicegregson" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/alice-gregson-64012998/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
