.form-container {
  margin: 0 30%;
  background-color: white;
  padding: 3% 7% 5% 7%;
  h5 {
    color: #474747;
    font-family: 'Raleway';
    letter-spacing: 0.1em;
  }
}

.form-actions {
  margin-top: 15%;
  margin-right: 12%;
}
