.index_card {
  height: 200px;
  margin: 10px 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  h4 {
    font-family: 'Bentham';
    color: #474747;
    font-size: 20px;
    padding-left: 20px;
  }
}

.detail-container {
  margin-bottom: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}



